[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[packages]
bcoding = "*"
aiohttp = "*"
bitstring = "*"
"bencode.py" = "*"
requests = "*"

[requires]
python_version = "3.8"
